body{
    background-color: white;
    margin: 0;
    border-top: 0.2em solid #373373;

}
.logo{
    margin: 1rem 0;
    padding: 0 1rem; 
    max-width: 50%;
    max-height: 10vh; 
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.signin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 0 1rem;
    margin: 0;
}
.postad{
    background-color:  #373373;
    width: fit-content;
    height: fit-content;
    color: white;
    text-align: center;
    margin:0.5em 0 1em 0;
    padding: 0.5em;
}
.text-border{
    border: 0.1rem solid lightgrey;
    padding: 1em;
    margin: 0 1em;
}