/* assuming 320px as smallest screen width possible */
body{
    background-color: white;
    margin: 0;
    border-top: 0.2em solid #373373;
/* reset margin in body */
}
.logo{
    padding:0;
    min-height: 3.5em;
    max-width: 100%; /* make the logo responsive */
    max-height: 100%; 
}
.header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* divide header into fraction of 1(logo)+ 3(other 3 element)  */
}
.signin{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    /* again divide in grid for 3 elements*/
    text-align:center;
}
.signin p{
    padding-top: 0.25rem;
    /* align all 3 components from top */
}
.postad{
    background-color: #373373;
    color: white;
    margin-left:auto;
    margin-right: auto;/* align content to center */
    width: 3.8em; /* fit background with content size  */
}
.search{
    border-top: 0.1rem solid lightgrey;
    border-left: 0.1rem solid lightgrey;
    border-bottom: 0.1rem solid lightgrey;
    padding-left: 1rem;
    margin: 0.2rem 0 0.2rem 1em;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    /* create searching text box */
}
.search p{
    margin:0.1em 0;
}
.sr-dr-common{
    max-width: 2em;
    height: 1.5em;
    margin-right: 0.8rem;
    border: 0.1rem solid lightgrey;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    /* match the size of search image and dropdown with text box */
}
.srch-dis{
    display: grid;
    grid-template-columns: 1fr auto;
    /* position: relative; */
    /* align search image and dropdown with search text box */
}
.sr{
   margin-top: 0.2rem; 
}
.dr{
    margin-top: 0.24rem; 
    /* align image with text box from top */
}
.suggestion{
    margin: 1em 2.2em;
}
.suggestion p, .suggestion ul{
    display: inline;
    color: blue;
}
.suggestion li{
    display: inline;
    padding: 1em;
    /* margin:1em; */
    
}
.view1{
    display:inline;
}
.view2{
    display: none;
}
/* create dropdown menu using hover effect only */
.dropdown{
   display: none;
   background-color: #f1f1f1;
   margin-left: 1em;
   /* position:absolute; */
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown a{
    text-decoration: none;
    display:block;
    color: black;
    padding: 0.5em 1em;
}
.srch-dis:hover .dropdown{
    display: block;
 
}
.dropdown a:hover{
    background-color: #ddd;
    color: lightcoral;
}
/* till here is for drop down menu */
/* displaying the results and showning hover dropdown on sort by  */
.result-sort{
    display: grid;
    grid-template-columns: 1.4fr 0.5fr 0.7fr 0.3fr;
    grid-template-areas: "result sort post dropimg";

}
.result{
    grid-area: result;
    padding-left: 1.9em;
    margin-top: 0.5em;
    font-size: 0.9em
}
.post{
    grid-area: post;
    margin: 0.5em 0;
    font-size: 0.8em;
    background-color: #e1e1e1;
    color: black;
    padding: 0.15em 0;
}

.post p{
    margin:0;
    justify-self: left;
}

.sort{
    grid-area: sort;
    margin-top: 0.5em;
    text-align: right;
    font-size:0.9em
}
.dropimg{
    width: 0.5em;
    height: auto;
    margin-top: 0.8em;
    justify-self: left;
    
}
.post:hover .dropdown{
    display: block;
    font-size: 0.8em;
    margin:0;
}
/* end of display result and hovering sort type */

/* start of display of items searched */
.items-display{
    display: grid;
    grid-template-columns: 8em auto;
    margin: 0.2em 1.1em;
    border: 0.01em solid black;
    align-items: start;

}
.itempic{
    width: 7.5em;
    height: auto;
    padding: 0.2em 0.2em;
    vertical-align: center;
}
.item-cont{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "hding price"
                         "expln expln"
                         "autom autom";
}
.heading{
    grid-area: hding;
    /* margin: 0; */
}
.heading p{
    margin:0.1em;
    color:blue;
    font-size: 0.9em;

}
.price p{
    text-align: right;
    margin:0.1em;
    color: red;
    padding-right: 0.2em;
    font-size:0.9em;
}
.price{
    grid-area: price;
}
.expln{
    grid-area: expln;
}
.expln p{ 
    font-size: 0.8em;
    margin:0 0.4em 0 0;
    text-align: justify;
    
}
.autom{
    grid-area: autom;
    line-height: 1.5em;
    display:inline;
}
.autom p{
    font-size: 0.5em;
    margin:0;
    
}
.star{
    widows: 0.5em;
    height: 0.9em;
}
/* pagination css */
.pagination {
    display: inline-block;
    color: black;
    padding: 1em;
    text-decoration: none;
  }
  .active{
      background-color: aquamarine;
  }
  .pagination a{
    margin: 0.2em;
    padding: 0.4em;
    border: 1px solid grey;
    text-decoration: none;
  }
  .pagination a:hover{
    background-color: lightseagreen;
  }
  .pagination-center{
    text-align: center;
  }
/* all css for footer */
footer{
    background-color: #3e4153;
    color: white;
    text-align: center;

}
.foot-align{
    padding: 1em 2em;
}
.foot-align p{
    margin: 0.5em 0;
    color: #e1e1e1;
}


.social-dis{
    text-align: center;
    padding: 1em;
}

.social{
    width: 5em;
    height: 2em;
}
.copyright{
    text-align: center;
    padding: 1em;

}

.icon{
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    color: white;   
}
.icon a{
    color:white;
}
.icon i{
    padding: 1rem 1rem;
    background: #6f727f;
    border-radius: 1.5em;
}
.f:hover{
  background-color: #3b5998;
}
.t:hover{
    background-color: #1da1f2;
}
.i:hover{
    background-color: #dd2a7b;
}
.in:hover{
    background-color: #0e76a8;
}
.y:hover{
    background-color: #ff0000;
}
/* footer css ends */

@media screen and (min-width: 600px) {
    .result-sort, .header, .srch-dis{
        font-size: 1.3em;
    }

    .sr-dr-common{
        height:1.65em;
    }
    .dr{
        margin-top: 0.1689em;
    }
    .foot-align{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:  "jhup explo"
                            "info suppo";
    }
    .responsive-display{
        margin: 0 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "item1 item2"
                            "item3 item4"
                            "item5 item6"
                            "item7 item8"
                            "item9 item0";
    }
    .items-display{
        margin: 0.2em 0.25em;
    }

}
@media screen and (min-width: 900px) {
    .foot-align{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:  "jhup explo info suppo";
    }
    .responsive-icon{
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "store icon";
    
    }
    .social-dis{
        text-align: right;
    }
    .icon{
        margin:0;
        text-align: left;
    }
    .responsive-display{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "item1 item2 item3"
                             "item4 item5 item6"
                             "item7 item8 item9"
                             "item0  .     .   ";
    }  
}